{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link href="{% static 'styles2.css' %}" type="text/css" rel="stylesheet">

  <title>Fake Profile Detection System</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css2/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Fake Profile Detection System</h1>
      <div class="row center">
        <h5 class="header col s12 light">Predict whether the profile is fake or not</h5>
      </div>

      <div class="row">
        <form action="{% url 'instagram' %}" method="post" class="col s12">
          {% csrf_token %}
          {% if msg %}
            <div class="alert alert-danger" role="alert">
              <strong>{{ msg }}</strong>
            </div>
          {% endif %}

          <div class="row">
            <div class="input-field col s4">
              <label for="inputusername"><b>Instagram Username</b></label>
              <input required placeholder="Instagram Username" name="inputusername" id="inputusername" type="text" class="validate">
            </div>
          </div>

          <div class="row center">
            <button type="submit" class="btn-large waves-effect waves-light orange">Check Instagram Profile</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Fake Profile Detection System</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project. Any amount would help support and continue development on this project and is greatly appreciated.</p>
        </div>
      </div>
    </div>
  </footer>

  <div class="col s12">
    <ul class="styled-list">
      {% for result in results %}
        <li>{{ result }}</li>
      {% endfor %}
    </ul>
  </div>

  <!--  Scripts-->
  !<!--<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
</body>
</html>
